doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
  body
    h2 We got new report:
    p User:
    ul
        li
            span Name: #{user.name}
        li
            span Email: #{user.email}
        li
            span Phone: #{user.phone}
        li
            span Address: #{user.address}
        li
            span dob: #{user.dob}
            
    p Report:
    ul
        li
            span Self: #{self}
        li
            span Name: #{name}
        
    
    
