doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
  body
    h2 We got new customer:
    ul
        li
            span Name: #{name}
        li
            span Email: #{email}
        li
            span Phone: #{phone}
        li
            span Address: #{address}
        li
            span dob: #{dob}
